.background{
    -fx-background-color : linear-gradient(to bottom right, #428CD4, #041B2D);
}

#button {
     -fx-background-color : #041B2D;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: white;
 }

#button:hover {
     -fx-background-color: #FFB469;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
 }

 #label {
    -fx-background-color : #FFB469;
 }

 #pane {
    -fx-background-color : #384E78;
 }

 #my-table .table-column {
   -fx-alignment: CENTER-RIGHT;
 }