/*-----------CSS blueTheme-----------*/
/*-----------Button-----------*/
.background{
    -fx-background-color : linear-gradient(to bottom right, #428CD4, #041B2D);
}

/*-----------Button-----------*/
#button {
     -fx-background-color: transparent;
     -fx-border-radius: 30;
     -fx-border-width: 3;
     -fx-background-insets: 0,1,1;
     -fx-border-color : white;
     -fx-text-fill: white;
 }

#button:hover {
     -fx-background-color: transparent;
     -fx-border-radius: 30;
     -fx-border-width : 3;
     -fx-background-insets: 0,1,1;
     -fx-border-color : #3593C9;
     -fx-text-fill: #3593C9;
 }

 #label-button {
      -fx-background-color : #041B2D;
      -fx-background-insets: 0,1,1;
      -fx-text-fill: white;
  }

 #label-button:hover {
      -fx-background-color: #FFB469;
      -fx-background-insets: 0,1,1;
      -fx-text-fill: black;
  }

  #glass{
      -fx-background-color:
              #c3c4c4,
              linear-gradient(#d6d6d6 50%, white 100%),
              radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
      -fx-background-radius: 30;
      -fx-background-insets: 0,1,1;
      -fx-text-fill: black;
      -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
  }

/*-----------Text field-----------*/
#text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 30 ;

}

/*-----------Label-----------*/
#label {
    -fx-background-color : #FFB469;
 }

/*-----------Pane-----------*/
#pane {
    -fx-background-color : #384E78;
 }

/*-----------ChoiceBox-----------*/
#choiceBox {
    -fx-background-color :  white
                            linear-gradient(#d6d6d6 50%, white 100%),
                            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);;
    -fx-background-radius : 20;

}